<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title th:text="ユーザー一覧"></title>
</head>
<body>
<span th:replace="~{header :: header}"></span>
<main class="container">
    <div class="row">
        <div class="col-md-8">
            <h3>ユーザー一覧</h3>
            <div th:each="user : ${userList}" class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-2 d-flex align-items-center justify-content-center">
                        <span style="font-size: 100px" class="material-icons">person</span>
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">
                                <span th:text="${user.user_id}"></span>
                                <form action="/follow">
                                    <button type="submit" id="follow_button">フォロー</button>
                                    <input type="hidden" name="followee_id" th:value="${user.user_id}"/>
                                </form>
                                <form action="/unfollow">
                                    <button type="submit" id="unfollow_button">アンフォロー</button>
                                    <input type="hidden" name="followee_id" th:value="${user.user_id}"/>
                                </form>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
